api.maldeals.de {
    reverse_proxy maldeals:5051 {
        header_down Strict-Transport-Security max-age=31536000
    }
    tls emami.114@outlook.de
}

miostor.maldeals.de {
    tls emami.114@outlook.de

    reverse_proxy /admin/* minio:9090 {
        header_down Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

    reverse_proxy /data/* minio:9000 {
        header_down Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}" 500
    }
}