api.maldeals.de {
    reverse_proxy maldeals:5051 {
        header_down Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
    tls ab.emami1140@gmail.com
}

miostor.maldeals.de {
    reverse_proxy minio:9090 {
        header_down Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
    tls ab.emami1140@gmail.com
}

minio.maldeals.de {
    reverse_proxy minio:9000 {
        header_down Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }
    tls ab.emami1140@gmail.com
}

adguard.maldeals.de {
    encode zstd gzip
    # Proxy zur AdGuard-UI (hier: Host 8080 -> Container 80)
    reverse_proxy adguard:80
    # Optional: Basic Auth für UI
    # basicauth {
    #   admin JDJhJDEwJDZ6...  # caddy hash-password nutzen
    # }
    # Optional: DoH Endpoint
    @doh path /dns-query
    reverse_proxy @doh adguard:443 {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
